// Media Queries

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Typography

$font: Outfit;

// Colors

$primary-color-1: #000000;
$primary-color-2: #232425;
$primary-color-3: #FFFFFF;
$primary-color-4: #A6A8AC;
$primary-color-5: #121213;
$primary-color-6: #232425;

$sound-color-1: #CDEAC0;
$sound-color-2: #FCF5C7;
$sound-color-3: #FFEE93;
$sound-color-4: #FEC3A6;
$sound-color-5: #FF928B;
$sound-color-6: #FFAC81;
$sound-color-7: #79ADDC;
$sound-color-8: #CDB4DB;
