@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit-set {
  display: none;

  &--display {
    @include flex(column, center, center);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20vh;
    width: 80vw;
    max-width: 50rem;
    background-color: $primary-color-2;
    border-radius: 0.5rem;
    margin: 0 auto;
    z-index: 1;
    padding: 1.6rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.15rem rgba(35, 36, 37, 0.3);
  }

  &__form {
    @include flex(column, center, center);
    height: 100%;
    width: 80%;
    position: relative;
  }

  &__input {
    @include sonora-input;
    margin: 1.6rem 0;
  }

  &__error {
    color: $primary-color-3;
    position: absolute;
    top: 11.4rem;
  }

  &__btn-container {
    @include flex(row, space-between, null);
    width: 100%;
    gap: 1.6rem;
  }

  &__btn {
    @include sonora-btn;
    width: 50%;

    &--cancel {
      background-color: $primary-color-4;
      color: $primary-color-3;

      &:hover {
        background-color: $primary-color-3;
        color: $primary-color-1;
      }
    }

    &--save {
      background-color: $primary-color-3;
      color: $primary-color-1;

      &:hover {
        background-color: $primary-color-8;
        color: $primary-color-3;
      }
    }
  }
}
