@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home {
  @include media-tablet {
    max-width: 108rem;
    margin: 0 auto;
  }

  &__title {
    margin: 2.4rem 0 3.2rem;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 1.6rem;
    font-size: 2rem;

    @include media-tablet {
      font-size: 2.4rem;
    }

    &--center {
      text-align: center;
      margin-bottom: 2.4rem;
    }
  }
}

.prompt {
  &__form {
    @include flex(column, space-between, center);
    height: 30vh;
    max-height: 25rem;
    background-color: $primary-color-5;
    border-radius: 0.5rem;
    padding: 3.2rem 1.6rem;
    position: relative;
  }

  &__label {
    text-align: center;
  }

  &__input {
    @include sonora-input;
    width: 70%;
    max-width: 24rem;
    min-width: 16rem;
    text-align: center;

    @include media-tablet {
      max-width: 30rem;
    }

    &::placeholder {
      text-align: center;
    }
  }

  &__error {
    color: $primary-color-3;
    position: absolute;
    top: 13rem;
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.genres {
  &__title {
    margin: 2.4rem 0 1.6rem 0;
    font-size: 2rem;

    @include media-tablet {
      font-size: 2.4rem;
    }
  }

  &__container {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
  }
}
