@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  &__nav {
    @include flex(row, center, center);

    @include media-vertical {
      justify-content: space-between;
    }

    @include media-tablet {
      max-width: 108rem;
      margin: 0 auto;
    }
  }

  &__nav-container {
    width: 33.3vh;
    display: flex;

    @include media-tablet {
      width: 40vh;
    }

    &--left {
      justify-content: flex-start;
      padding-left: 1.6rem;
      padding-top: 1rem;
    }

    &--center {
      justify-content: center;
    }

    &--right {
      justify-content: flex-end;
      padding-right: 1.6rem;
    }
  }

  &__button {
    background: transparent;
    border: none;
  }
}

.logo {
  height: 10rem;

  &:hover {
    @include cta-hover(0.9, scale(1.1));
  }
}

.nav-icon {
  cursor: pointer;

  &:hover {
    @include cta-hover(0.9, scale(1.33));
  }

  &--right {
    margin-left: 1.6rem;
  }
}
