@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.set-card {
  background-color: $primary-color-1;
  height: 10vh;
  min-height: 8rem;
  max-height: 14rem;
  width: 100%;
  border-bottom: 0.2rem solid $primary-color-6;
  padding-left: 6.4rem;
  cursor: pointer;
  position: relative;
  transition: 0.2s;

  &:hover {
    background-color: $primary-color-5;
  }

  &:hover .genre__title {
    color: $primary-color-2;
  } 

  &:hover .genre__subtitle {
    color: $primary-color-3;
  } 

  &__subtitle {
    color: $primary-color-4;
  }

  &__link {
    @include flex(column, center, null);
    width: 90%;
    height: 100%;
  }
}

.play-icon {
  position: absolute;
  top: 40%;
  left: 1.6rem;

  &:hover {
    @include cta-hover(0.9, scale(1.3));
  }
}

.more-button {
  position: absolute;
  top: 40%;
  right: 1.6rem;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    @include cta-hover(0.9, scale(1.3));
  }
}