@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  height: 8vh;
  min-width: 30rem;
  @include flex(row, center, center);

  &__text {
    color: $primary-color-4;
  }
}