@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/animations";

.set {
  @include flex(column, center, center);
  height: 80vh;
  padding-top: 2.4rem;

  @include media-tablet {
    max-width: 108rem;
    margin: 0 auto;
  }

  &__title-container {
    position: relative;
  }

  &__title {
    margin-bottom: 2.4rem;
  }

  &__button {
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 12%;
    right: -2.8rem;

    @include media-tablet {
      top: 16%;
      right: -3.2rem;
    }

    &:hover {
      @include cta-hover(0.9, scale(1.2));
    }
  }
}

.sound {
  @include flex(column, center, flex-start);
  position: relative;
  height: 15vh;
  min-height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 0.8rem;
  padding-left: 1.6rem;
  color: $primary-color-1;

  @include media-tablet {
    padding-left: 3.2rem;
  }

  &--1 {
    background-color: $sound-color-1;
  }

  &--2 {
    background-color: $sound-color-2;
  }

  &--3 {
    background-color: $sound-color-3;
  }

  &--4 {
    background-color: $sound-color-4;
  }

  &--add {
    @include flex(null, center, center);
    background-color: $primary-color-6;
  }

  &__button {
    background-color: transparent;
    border: none;
  }

  &__like-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;

    &:hover {
      @include cta-hover(0.75, scale(1.25));
    }

    &--shake {
      animation: shake 0.4s linear;
    }
  }
}

.controls {
  height: 10vh;
  min-height: 8rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: $primary-color-5;
  padding: 1rem 0;

  &__container {
    @include flex(row, space-evenly, center);
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
  }

  &__icon {
    cursor: pointer;

    &--primary {
      opacity: 75%;

      &:hover {
        opacity: 100%;
        transform: scale(1.1);
      }
    }

    &--secondary {
      &:hover {
        @include cta-hover(0.9, scale(1.3));
      }
    }
  }
}
